.body-background{
    background: url("https://image.shutterstock.com/z/stock-vector-football-background-with-player-94234594.jpg");
    /*background-color: #cccccc;*/
}
.pl-30{
    padding-left: 30px !important;
}
.f-left{
    float: left;
}
.f-right{
    float: right !important;
}
.cursor-pointer{
    cursor: pointer !important;
}

.pt-100{
    padding-top: 100px !important;
}